*{box-sizing: border-box;}
html{
    background-color: #f5f5f5;
}

body {
    margin: 20px;
    font-size: 16px;
    font-family: "Inter";
}


nav a {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
}

.title{
    font-family: "Inter", serif;
    font-weight: 700;
    font-style: normal;
}


.form__input{
    font-family: "Inter";
    font-size: 16px;
    padding: 18px 20px;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 30px;
    border: #4c4e50 solid 1px;
}

.form__input:active{
    border: #4c4e50 solid 1px;
}
.form__input:focus{
    border: #057ef7 solid 1px;
    outline: none !important;
}

.container-auth{
    margin: 20vh auto;
    display: flex;
    justify-content: center;
}

.form{
    width: 50vw;
    border-radius: 24px;
    background-color: #f0f0f0;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.form__title{
    font-size: 40px;
    margin-bottom:30px;
}

.form__btn{
    font-family: "Inter";
    font-size: 16px;
    border-radius: 14px;
    display: block;
    width: 100%;
    height: 48px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.form__error-text{
    font-size: 12px;
    color: red;
    font-family: Inter;
    margin: -20px 0 20px;
}


.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 4fr);
    width: 100%;
    height: 100%;
    column-gap: 30px;
    height: 96vh;
    
}

.sidebar {
    background-color:#ffffff ;
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__user-info {
    margin-bottom: 30%;    
}
.sidebar__avatar{
    border: #4c4e50 solid 1px;
    border-radius: 100%;
    height:100px;
    width: 100px;
}
.sidebar__role {

}

.sidebar__username {

}
.sidebar__links{
    width: 100%;
}
.sidebar__link{
    display: block;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #378bdf;
}

.tasks{
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

.tasks__add-new-item{
    border-radius: 30px;
    background-color: #0482ff69;
    display: block;
    padding: 20px 30px;
    width: 100%;
}

.tasks__item{
    border-radius: 30px;
    background-color: #0482ff69;
    display: block;
    padding: 20px 30px;
    width: 100%;
    margin-bottom: 10px;
}

.tasks_checkbox{
    border: 1px black solid;
    width: 25px;
    height: 25px;
}
.tasks_checkbox:checked ~ .tasks__link-to-item{
    color:grey;
    text-decoration: line-through;
    transition: 1s;
}
.wrapper {
    display: inline-flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 25px; 
    gap: 20px;
}

.wrapper .option {
    text-align: center;
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 13px;
    cursor: pointer;
    padding: 0 10px;
    border: #4c4e50 solid 1px;
    /* border: 2px solid  ; */
    transition: all 0.3s ease;
}


.wrapper input[type="radio"] {
    display: none;
}

#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-4:checked ~ .option-4 {
    border-color: #000000;
    background: #000000;
}



#option-1:checked ~ .option-1 span,
#option-2:checked ~ .option-2 span,
#option-3:checked ~ .option-3 span,
#option-4:checked ~ .option-4 span  {
    color: #fff;
}


.wrapper .option span {
    font-family: "Inter";
    font-size: 17px;
    color: #808080;
}


/* Скрытый контейнер с кодом семьи */
.family-code {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Плавный переход */
}

/* Активное состояние для плавного появления */
.family-code.active {
    opacity: 1;
    max-height: 100px; /* Устанавливаем максимальную высоту, чтобы блок стал видимым */
}


.modal {
    display: none; /* Модал скрыт по умолчанию */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
