*{box-sizing: border-box;}
html{
    background-color: #f5f5f5;
}

body {
    margin: 20px;
    font-size: 16px;
    font-family: "Inter";
}


nav a {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
}

.title{
    font-family: "Inter", serif;
    font-weight: 700;
    font-style: normal;
}


.form__input{
    font-family: "Inter";
    font-size: 16px;
    padding: 18px 20px;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 30px;
    border: #4c4e50 solid 1px;
}

.form__input:active{
    border: #4c4e50 solid 1px;
}
.form__input:focus{
    border: #057ef7 solid 1px;
    outline: none !important;
}

.container-auth{
    margin: 20vh auto;
    display: flex;
    justify-content: center;
}

.form{
    width: 50vw;
    border-radius: 24px;
    background-color: #f0f0f0;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.form__title{
    font-size: 40px;
    margin-bottom:30px;
}

.form__btn{
    font-family: "Inter";
    font-size: 16px;
    border-radius: 14px;
    display: block;
    width: 100%;
    height: 48px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.form__error-text{
    font-size: 12px;
    color: red;
    font-family: Inter;
    margin: -20px 0 20px;
}


.container {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) minmax(300px, 4fr) minmax(300px, 4fr);
    width: 100%;
    height: 100%;
    column-gap: 30px;
    height: 96vh;
    
}

.sidebar {
    background-color:#ffffff ;
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.sidebar__user-info {
    margin-bottom: 30%;
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar__user-info-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.sidebar__avatar{
    /* border: #4c4e50 solid 1px; */
    /* border-radius: 100%; */
    height:90%;
    /* width: 100px; */
}
.sidebar__role {
    background-color: rgba(0, 167, 0, 0.309);
    padding: 4px;
    border-radius: 9px;
    width: fit-content;
    color: #474747;
}

.sidebar__username {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
.sidebar__links{
    width: 100%;
    margin-bottom: 20px;
}
.sidebar__link{
    display: block;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #a2afbd69;
    text-decoration: none;
    color: #000000;
    margin-bottom: 5px;
}
.sidebar__code{
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.sidebar__family{
    margin-top: auto;
    width: 90%;
}

.sidebar__family-users{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.sidebar__family-title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.sidebar__family-username{
    font-size: 17px;
    font-weight: 600;
}
.tasks{
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

.tasks__add-new-item{
    border-radius: 30px;
    background-color: #a2afbd69;
    display: block;
    padding: 20px 30px;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.tasks__item{
    border-radius: 30px;
    background-color: #a2afbd69;
    display: flex;
    /* justify-content: space-between; */
    padding: 20px 30px;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    gap: 20px;
}

.tasks__item p{
    cursor: pointer;
}
.tasks__status{
    margin-left: auto;
}
.tasks_checkbox{
    border: none;
    /* outline: 1px solid #1e5180; */
    accent-color: #2c292b;
    border: 2px solid #c9c9c9;
    background-color: #dedbdb;
    width: 25px;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0.23); */
    height: 25px;
}
.tasks_checkbox:checked ~ .tasks__link-to-item{
    color:grey;
    text-decoration: line-through;
    transition: 1s;
}
.wrapper {
    display: inline-flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 25px; 
    gap: 20px;
}

.wrapper .option {
    text-align: center;
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 13px;
    cursor: pointer;
    padding: 0 10px;
    border: #4c4e50 solid 1px;
    /* border: 2px solid  ; */
    transition: all 0.3s ease;
}


.wrapper input[type="radio"] {
    display: none;
}

#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-4:checked ~ .option-4 {
    border-color: #000000;
    background: #000000;
}



#option-1:checked ~ .option-1 span,
#option-2:checked ~ .option-2 span,
#option-3:checked ~ .option-3 span,
#option-4:checked ~ .option-4 span  {
    color: #fff;
}


.wrapper .option span {
    font-family: "Inter";
    font-size: 17px;
    color: #808080;
}


/* Скрытый контейнер с кодом семьи */
.family-code {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Плавный переход */
}

/* Активное состояние для плавного появления */
.family-code.active {
    opacity: 1;
    max-height: 100px; /* Устанавливаем максимальную высоту, чтобы блок стал видимым */
}


.modal {
    display: none; /* Модал скрыт по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный черный фон */
}






.modal__content {
    background-color: #fefefe;
    margin: 10vh auto; 
    padding: 50px 40px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 50%;
}

#modal__title{
    font-size: 40px;
    font-weight: 700;
    font-family: inherit;
    outline: none;
    border: solid 1px #f0f0f0;
    margin-bottom: 20px;
    width: 100%;
}

#modal__description{
    width: 100%;
    height: 100%;
    font-size: 20px;
    resize: none;
    font-family: inherit;
    outline: none;
    border: solid 1px #f0f0f0;
    height: 30vh;
}

#modal__status{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

#modal__status-select{
    font-size: 20px;
    text-decoration: none;
    border: none;
    outline: none;
}
#modal__for-who{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TODO{
    background-color: rgba(255, 196, 0, 0.43);
    padding: 4px;
    border-radius: 9px;
    width: fit-content;
}
.Выполняется{
    background-color: rgba(0, 13, 255, 0.28);
    padding: 4px;
    border-radius: 9px;
    width: fit-content
}
.Готово{
    background-color: rgba(4, 196, 10, 0.42);
    padding: 4px;
    border-radius: 9px;
    width: fit-content
}

.Взрослый{
    background-color: rgba(0, 13, 255, 0.28);
    padding: 4px;
    border-radius: 9px;
    width: fit-content;
    color: #474747;
}

.Ребенок{
    background-color: rgba(4, 196, 10, 0.42);
    padding: 4px;
    border-radius: 9px;
    width: fit-content;
    color: #474747;
}

.modal__task-info-group{
    display: flex;
    flex-direction: column;
    width: 40vh;
    margin-bottom: 30px;
    font-size: 20px;
}

#date-deadline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#date-deadline input{
    border: none;
    font-family: inherit;
    outline: none;
    font-size: inherit;
}

.task__title{
    font-size: 30px;
    margin-bottom: 20px;
}