*{box-sizing: border-box;}
html{
    background-color: #f5f5f5;
}

body {
    margin: 20px;
    font-size: 16px;
    font-family: "Inter";
}


nav a {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
}

.title{
    font-family: "Inter", serif;
    font-weight: 700;
    font-style: normal;
}



.form__input{
    font-family: "Inter";
    font-size: 16px;
    padding: 18px 20px;
    border-radius: 16px;
    width: 100%;

    margin-bottom: 30px;
    border: #4c4e50 solid 1px;
}

.form__input:active{
    border: #4c4e50 solid 1px;
}
.form__input:focus{
    border: #057ef7 solid 1px;
    outline: none !important;
}

.container-auth{
    margin: 20vh auto;
    display: flex;
    justify-content: center;
}

.form{
    width: 50vh;
    border-radius: 24px;
    background-color: #f0f0f0;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.form__title{
    font-size: 40px;
    margin-bottom:30px;
}

.form__btn{
    font-family: "Inter";
    font-size: 16px;
    border-radius: 14px;
    display: block;
    width: 100%;
    height: 48px;
    background-color: black;
    color: white;
    
}

.form__error-text{
    font-size: 12px;
    color: red;
    font-family: Inter;
    margin: -20px 0 20px;
}


.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 4fr);
    width: 100%;
    height: 100%;
    column-gap: 30px;
    height: 96vh;
    
}

.sidebar {
    background-color:#ffffff ;
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__user-info {
    margin-bottom: 30%;    
}
.sidebar__avatar{
    border: #4c4e50 solid 1px;
    border-radius: 100%;
    height:100px;
    width: 100px;
}
.sidebar__role {

}

.sidebar__username {

}
.sidebar__links{
    width: 100%;
}
.sidebar__link{
    display: block;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: #378bdf;
}

.tasks{
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
}

.tasks__add-new-item{
    border-radius: 30px;
    background-color: #0482ff69;
    display: block;
    padding: 20px 30px;
    width: 100%;
}




.wrapper {
    display: inline-flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 25px; 
    gap: 20px;
}

.wrapper .option {
    
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 0 10px; */
    border-radius: 13px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey ;
    transition: all 0.3s ease;
}

.wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
    border-color: #000000;
    background: #000000;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
    background: #fff;
}

#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper .option span {
    font-family: "Inter";
    font-size: 17px;
    color: #808080;
}

#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
    color: #fff;
}

