<!-- templates/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments Example</title>
</head>
<body>


<div th:fragment="modal" id="taskModal" class="modal" style="display: none" th:onclick="|closeModal()|">
    <div class="modal__content" th:onclick="|stopPropagation(event)|" data-task-id="new">
        <input type="text" id="modal__title" value="Новая задача">
        <div class="modal__task-info-group">
            <label id="modal__status">Статус задачи
                <select id="modal__status-select">
                    <option value="TODO">TODO</option>
                    <option value="Выполняется">Выполняется</option>
                    <option value="Готово">Готово</option>
                </select>
            </label>
            <label id="date-deadline"> Дедлайн <input  id="date-deadline-date" type="date"></label>

            <label id="modal__for-who">Статус задачи
                <select id="modal__user-select">
                    <option th:each="user : ${familyUsers}" th:text="${user.username} " value="${user.username} ">TODO</option>
                </select>
            </label>

        </div>
        <textarea id="modal__description" class="text-area"></textarea>
    </div>
</div>
</body>
</html>
