<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Система управления домашними задачами</title>
</head>
<body>
<header>
    <h1>Добро пожаловать в систему управления задачами</h1>
    <nav>
        <a href="/register">Регистрация</a>
        <a href="/login">Вход</a>
        <a href="/tasks ">Задачи</a>
    </nav>
</header>
<main>
    <h2>Выберите действие</h2>
</main>
</body>
</html>
