<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>Управление задачами</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/styles.css">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <main>
    <div class="container">

      <aside class="sidebar">
        <div class="sidebar__user-info">
          <!-- <img class="sidebar__avatar" src="../static/images/noavatar.svg"> -->
          <p class="sidebar__username" th:text="${username}">Александр</p>
          <p class="sidebar__role" th:text="${role}">Родитель</p>

        </div>
        <div class="sidebar__links">
          <a class="sidebar__link" href="">Мои задачи</a>
        </div>
      </aside>

      <div class="tasks">
        <div th:each="task : ${tasks}" class="tasks__item" th:onclick="|showTaskDetails(${task.id})|">
          <!-- чекбокс -->
          <input class="tasks_checkbox" type="checkbox" th:checked="${task.status == 2}"
            th:onclick="|stopPropagation(event)|">
          <!-- название-ссылка -->
          <a class="tasks__link-to-item" th:text="${task.title}">Название задачи</a>


        </div>
        <div id="taskModal" class="modal" style="display: block" th:onclick="|closeModal()|">
          <div class="modal__content" th:onclick="|stopPropagation(event)|">            
            
            <input type="text" id="modal__title"  value="Task title"></input>
            
            <div class="modal__task-info-group">
              <label id="modal__status">Статус задачи
              <select id="modal__status-select">
              </option>
              <option value="TODO">TODO</option>
              <option value="IN_PROGRESS">Выполняется</option>
              <option value="DONE">Сделана</option>
              </select>
            </label>

            <label id="date-deadline"> Дата задачи <input type="date"></label>
            </div>
            
            
            <textarea id="modal__description" class="text-area" name="comment">123</textarea>
          </div>
        </div>

        <a class="tasks__add-new-item" href="#">
          Добавить новую задачу
        </a>
      </div>
    </div>

    <script>
      function stopPropagation(e) {
        e.stopPropagation();
      }
      function showTaskDetails(taskId) {
        fetch(`/api/tasks/details/${taskId}`)
          .then(response => response.json())
          .then(task => {
            // Заполнение данных задачи в модальное окно
            document.getElementById('modal__title').value = task.title;
            document.getElementById('modal__description').textContent = task.description;
            document.getElementById('modal__status-select').value = task.status;

            // Показать модальное окно
            document.getElementById('taskModal').style.display = "block";
          })
          .catch(error => console.error('Ошибка при загрузке деталей задачи:', error));
      }

      function closeModal() {
        document.getElementById('taskModal').style.display = "none";
      }

    </script>
  </main>
  <script src="../static/js/scripts.js"></script>
</body>

</html>